<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Un Site Dont Vous Etes Le Héro{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="d-flex flex-column min-vh-100">
    {% include "partials/_navbar.html.twig" %}

    <div class="container flex-grow-1">

        {% include "partials/_flashes.html.twig" %}

        {% block body %}{% endblock %}

    </div>

    {% include "partials/_footer.html.twig" %}
    </body>
</html>
